
* {
  padding: 0;
  margin: 0;
}

canvas {
  background: #eee;
  display: block;
  margin: 0 auto;
  border: 3px solid rgb(95, 94, 94);
  border-radius: 10px;
}

#titre {
  text-align: center;
  font-size: 30px;
  padding-bottom: 5px;
}

#essais {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  padding-top: 5px;
}

html,
body,
p,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  box-sizing: border-box;
  /* To include the padding and border in an element's total width and height(?AI) */
}

html,
body,
app-root {
  height: 100%;
}

app-root {
  display: flex; 
  /* les trucs vont se suivre... */
  flex-direction: column;
  /* ...ds le sens colonne */
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.mt-15 {
  margin-top: 15px;
}

.mt-25 {
  margin-top: 25px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-25 {
  margin-bottom: 25px;
}

.wrap {
  flex-wrap: wrap;
}

.gap-05 {
  gap: 0.5rem;
}

.gap-1 {
  gap: 1rem;
}

.gap-2 {
  gap: 2rem;
}

.space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.full-center {
  display: flex;
  justify-content: center;
}

.hidden {
  display: none;
}

.wrapper {
  height: auto;
  padding: 20px;
  width: 100%;

  flex-grow: 1; 
  /* the wrapper will grow as much as possible automatically, pr que le footer soit tt en bas */
  box-sizing: border-box; 
  /* To include the padding and border in an element's total width and height(?AI), pr éviter overflow (ascenseur horizontal) */
}

.bg-black {
  background-color: #0f0f0f;
}

.bg-white {
  background-color: #fff;
}

.hover-grey:hover {
  color: grey;
}

.hover-black:hover {
  color: black;
}

.hidden {
  display: none;
}

.button {
  padding: 5px 10px;
  border: 3px solid rgb(95, 94, 94);
  border-radius: 10px;
  background-color: #fff;
  /* color: #000; */
  font-weight: bold;
  cursor: pointer;
  margin : 10px 10px; 
}

.button:hover {
  background-color: #f0f0f0;
}